.hidden {
  position: absolute; /* Saca el elemento del flujo visual */
  left: -9999px; /* Lo mueve fuera del viewport */
  visibility: hidden; /* Lo oculta visualmente */
  display: none;
}
/* Contenedor principal */
.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas por defecto */
  gap: 2rem;
  justify-items: center;
}

/* Estilo para cada categoría */
.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  text-align: center;
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Títulos de las categorías */
.experience__container h3 {
  margin-bottom: 2rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 600;
}

/* Contenido dentro de las categorías */
.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  row-gap: 2rem;
  justify-items: center;
}

/* Detalles de cada habilidad */
.experience__details {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

.experience__details h4 {
  color: var(--color-light);
  font-weight: 500;
}

.experience__details svg {
  font-size: 1.5rem;
}

/* =================== Media Queries ==================== */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1.5rem;
  }

  .experience__container > div {
    width: 90%;
    padding: 2rem 1rem;
    margin: 0 auto;
  }

  .experience__content {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .experience__details {
    font-size: 0.9rem;
  }

  .experience__details svg {
    font-size: 1.2rem;
  }
}
